@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body{
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

body.Dark{
   color:white;
}
body.Light{
   color:black;  
}
#main-container{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

#main-container.fill-window{
   width: 100%;
   height: 100%;
   margin: 0;
}
#app-container, #unity-canvas{
   width: 100%;
   height: 100%;
   margin: 0;
   position: relative;
}

.loader{
   width: 100%;
   height: 100%;
   margin: 0;
   position: absolute;
   display: block;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}
.logo-container{
   width: 100%;
   max-width: 200px;
   margin:0 auto;
}

.logo{
   width: 100%;
}

.progressbar{
   padding: 1px;
   left: 0;
   border: 1px solid #333;
   border-radius: 10px;
}
.Dark .progressbar{
   border: 1px solid white;
}
.fill{
   height:6px;
   background: #333;
   display: block;
   border-radius: 10px;
   transition-property: width;
   transition-duration: 1s;
}
.Dark .fill{
   background: white;
}
.card {
   background-color: #fff;
   border-radius: 0.5rem;
   box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
   overflow: hidden;
   margin: 200px auto 0;
   padding: 20px;
   font-family: 'Open Sans', sans-serif;
 }
 .Dark .card{
   background-color:#333;
   box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(255, 255, 255, 0.45);
 }

 .card h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
 }

.Dark .card h1{
   border-bottom: 1px solid white;
}

.logo-cont, .title-cont{
   float:left;
   display: block;
}
.logo-cont{
   width: 100%;
}
.title-cont{
   width: 70%;
    margin-left: 2%;
}
